@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
 }

 body{
    display: flex;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #7b4397, #dc2430);
 }

 .container{
     max-width: 700px;
     width: 100%;
     background: #fff;
     padding: 25px 30px;
     border-radius: 10px;
 }
 
 .container h1{
     font-size: 25px;
     font-weight: 500;
     position: relative;
 }

 .container h1::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20px;
    background: linear-gradient(135deg, #7b4397, #dc2430);
 }

 .container form .user-info{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 20px 0 12px 0;
 }

 form .user-info .input-box{
     width: calc(100% / 2 - 20px);
     margin-bottom: 15px;
 }

 .user-info .input-box input{
     width: 100%;
     height: 45px;
     outline: none;
     border-radius: 5px;
     border: 1px solid #ccc;
     padding-left: 15px;
     border-bottom-width: 2px;
     transition: all 0.3s ease;
 }

 .user-info .input-box input:focus,
 .user-info .input-box input:valid{
     border-color: #7b4397;
 }

 .user-info .input-box span{
     display: block;
     font-size: 15px;
     font-weight: 500;
     margin-bottom: 5px;
 }

 form .gender-info{
     width: 100%;
 }

 form .gender-info .gender-title{
    font-size: 20px;
    font-weight: 500;
 }

 form .gender-info .category{
     display: flex;
     width: 80%;
     margin: 14px 0;
     justify-content: space-between;
 }

 form .gender-info .category label{
    display: flex;
    align-items: center;
 }

 form .gender-info .category .dots{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid transparent;
    transition: all 0.3s ease;
 }

 #dot-1:checked ~ .category .one,
 #dot-2:checked ~ .category .two,
 #dot-3:checked ~ .category .three{
    border-color: #d9d9d9;
    background: #7b4397;
 }

 form input[type="radio"]{
     display: none;
 }

 form .registration-button{
     height: 45px;
     margin: 45px 0;
     width: 100%;
 }

 form .registration-button input{
     height: 100%;
     width: 100%;
     background: linear-gradient(135deg, #7b4397, #dc2430);
     outline: none;
     border: none;
     font-size: 20px;
     font-weight: 500;
     letter-spacing: 1px;
     border-radius: 5px;
     transition: all 0.3s ease;
 }

 form .registration-button input:hover{
    background: linear-gradient(280deg, #7b4397, #dc2430);
    font-size: 25px;
 }

 @media (max-width: 584px){
     .container{
         max-width: 100%;
     }

     form .user-info .input-box{
         margin-bottom: 15px;
         width: 100%; 
     }

     form .gender-info .category{
        width: 100%;
     }

     .container form .user-info{
         max-height: 450px;
         overflow-y: scroll;
     }

     .user-info::-webkit-scrollbar{
         width: 0;
     }
 }
